#OtherUserTweetTitle {
  border-bottom: 1px solid rgb(228, 228, 228);
  font-weight: bold;
  padding-left: 25px;
  padding-bottom: 10px;
}

#otherUserTweetCommentBubble {
  height: 35px;
  width: 35px;
  margin-left: 50px;
  padding: 5px;
}

#otherUserTweetImgAndNumber {
  display: flex;
  flex-direction: row;
}